@font-face {
  font-family: "TAModernTimes";
  src: url("/public/fonts/tural-alisoy-tamoderntimes/TAModernTimes-RoundedExtLt.otf")
    format("opentype");
}

body {
  margin: 0;
  font-family: "TAModernTimes", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "TAModernTimes", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 5rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: rgba(55, 55, 55, 0.692);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
